

<h7>blah blah, yeah yeah</h7>
    <h1>Monthly household budget</h1>
    <form name="budgetForm" ng-controller="FormController" novalidate>
      <!--  <div ng-show='message'>{{message}}</div> -->
      <label>Rent or mortgage</label>
      <input type="number" ng-model="user.rent" name="rent" required>
      <br>
      <br>
      <label>Utilities</label>
      <input type="number" ng-model="user.utilities" name="utilities" required>
      <br>
      <br>
      <label>Auto payment</label>
      <input type="number" ng-model="user.autoPayment" name="autoPayment" required>
      <br>
      <br>
   <!--   
      <label>Auto insurance</label>
      <input type="number" ng-model="user.autoInsurance" name="autoInsurance" required>
      <br>
      <br>
      <label>Gas</label>
      <input type="number" ng-model="user.gas" name="gas" required>
      <br>
      <br>
      <label>Groceries</label>
      <input type="number" ng-model="user.groceries" name="groceries" required>
      <br>
      <br>
      <label>Health insurance</label>
      <input type="number" ng-model="user.healthInsurance" name="healthInsurance" required>
      <br>
      <br>
      <label>Medical expenses</label>
      <input type="number" ng-model="user.medicalExpenses" name="medicalExpense" required>
      <br>
      <br>
      <label>Vision</label>
      <input type="number" ng-model="user.vision" name="vision" required>
      <br>
      <br>
      <label>Dental</label>
      <input type="number" ng-model="user.dental" name="dental" required>
      <br>
      <br>
      <label>Pet expenses</label>
      <input type="number" ng-model="user.pet" name="pet" required>
      <br>
      <br>
      <label>Clothing</label>
      <input type="number" ng-model="user.clothing" name="clothing" required>
      <br>
      <br>
      -->
    
       <input type="submit" value="Save" class="btn btn-primary">

    </form>
 